header.navigation__header
  .navigation__logo
    a(href='/')=navigation.data.navigation_logo
    .mobile--area 
      .mobile--area-span
        span Menu
      button.mobile--nav-toggle
  nav  
    ul(data-visible="false").navigation__list 
      li.navigation__item
        each link in navigation.data.navigation_links
          a(href=`/${link.navigation_link}`)=link.navigation_link