# Browsers that we support

last 2 years and Chrome >= 0
last 2 years and Firefox >= 0
last 2 years and Safari >= 0
last 2 years and Edge >= 0
last 2 years and iOS Safari >= 0
last 2 years and ChromeAndroid >= 0
last 2 years and FirefoxAndroid >= 0
last 2 years and Opera >= 0
> 0.5%
not dead
