doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    base(href="/")
    title Formation Web
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(name="description" content="Formation sur la réalisation d'un site web")
    meta(name="robots" content="noodp, noydir")
    link(rel="stylesheet" href="/main.css")
  body
    block content
    include ../partials/script