.preloader {
	@include column-center;
	background-color: $color-white;
	color: $color-black;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: z("preloader");
	//display: none;
}

.preloader__title--one {
	font-family: "Humane";
	font-weight: 300;
	//font-size: 320px;
	//font-size: calc(200px + (320 - 200) * ((100vw - 320px) / (1920px - 320px)));
	font-size: calc(200px + (320 - 200) * ((100vw - 320px) / (1920 - 320)));
	font-size-adjust: 0.5;

	text-transform: uppercase;
	line-height: 0.75;
	//display: none;
	//visibility: hidden;
	//opacity: 0;

	// @include breakpoint(sm, max) {
	// 	font-size: 250px;
	// }
}

.preloader__title--two {
	font-family: "Humane";
	font-weight: bold;
	//font-size: 315px;
	font-size: calc(200px + (315 - 200) * ((100vw - 320px) / (1920 - 320)));
	text-transform: uppercase;
	line-height: 0.75;
	//display: none;
	//visibility: hidden;
	//opacity: 0;
	// @include breakpoint(sm, max) {
	// 	font-size: 250px;
	// }
}

.preloader__sub-title {
	display: none;
	// font-family: "Clash Display";
	// font-weight: 300;
	font-family: "tenon", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 50px;
	font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
	width: 80%;
	text-align: center;

	@include breakpoint(sm, max) {
		//font-size: 40px;
		width: 90%;
	}
}

.preloader__number {
	color: $color-black;
	font-family: "Clash Display";
	font-weight: 300;
	font-size: 20px;
	position: absolute;
	bottom: 32px;
}
