.about {
	height: 100%;
	width: 100%;
}

.about__wrapper {
	min-height: 100%;
	width: 100%;
}

.about__gallery {
	min-height: 100%;
	display: flex;
	color: $color-white;
	align-items: center;
	padding-bottom: var(--extra-space);

	@include breakpoint(lg, max) {
		flex-direction: column;
		padding-bottom: var(--large-space);
	}

	& h1 {
		position: absolute;
		top: 100px;
		left: var(--large-space);
		//mix-blend-mode: difference;

		font-family: "humane";
		font-weight: bold;
		font-size: calc(80px + (200 - 80) * ((100vw - 320px) / (1920 - 320)));
		text-transform: uppercase;
		text-wrap: balance;
	}

	& p {
		font-family: "clash display";
		font-weight: 300;
		font-size: clamp(22px, 22px + 8 * (100vw - 320px) / 1160, 30px);
		padding-left: var(--large-space);
		padding-bottom: var(--small-space);
		text-wrap: balance;

		@include breakpoint(sm, max) {
			padding: 0 var(--small-space) var(--small-space) var(--small-space);
			text-align: center;
		}
	}
}

.about__gallery--text {
	position: relative;
}

.about__gallery:nth-child(2) p {
	padding: 0 var(--small-space) var(--small-space) var(--small-space);

	@include breakpoint(lg, max) {
		padding: 0 var(--small-space) 0 var(--large-space);
	}
}

.about__gallery__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 100px;
	align-items: center;
	margin-top: 50px;

	@include breakpoint(lg, max) {
		margin-top: 100px;
	}
}

// .about__gallery--image {
// 	flex: 1;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// }

.about__gallery--button {
	align-self: flex-start;
}

.about_gallery--button-item {
	@include breakpoint(lg, max) {
		//padding-left: var(--small-space);
		display: flex;
		justify-content: center;
	}
}

.about__gallery--button p {
	font-family: "clash display";
	font-weight: 500;
	font-size: 30px;
	padding-bottom: 40px;
	text-wrap: balance;
}

.about__gallery--button a {
	text-decoration: none;
	color: $color-white;
	width: 20%;
}

.about__gallery--image {
	height: auto;
	max-width: 529px;
	//max-width: 400px;

	@include breakpoint(sm, max) {
		width: 300px;
		height: auto;
	}
}

.about__gallery--image img {
	height: 100%;
	width: 100%;
	opacity: 0;
	//visibility: hidden;
	@include breakpoint(lg, max) {
		opacity: 1;
	}
}
