.home {
	@include column-center;
	height: 100%;
	justify-content: space-between;
}

.home__wrapper {
	width: 100%;
	min-height: 100%;
}

.home__section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;

	@include breakpoint(lg, max) {
		flex-direction: column;
		align-items: flex-start;
		height: auto;
		padding-top: var(--extra-space);
	}

	&.home__section:nth-child(1) {
		margin-top: 125px;
	}

	&.home__section:nth-child(3) {
		margin-top: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		@include breakpoint(lg, max) {
			padding-bottom: 100px;
			margin-top: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

.home__section:nth-child(even) {
	flex-flow: row-reverse;

	@include breakpoint(lg, max) {
		flex-direction: column;
	}
}

.home__section--left {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	//gap: 100px;
	@include breakpoint(lg, max) {
		width: 100%;
		gap: 0;
	}
}

.home__section--left h2 {
	font-family: "clash display";
	font-weight: bold;

	font-family: "tenon", serif;
	font-weight: 900;
	font-style: normal;
	line-height: 1;
	color: $color-white;
	//text-transform: uppercase;
	font-size: clamp(25px, calc(25px + (50 - 25) * ((100vw - 320px) / (1480 - 320))), 50px);
	text-wrap: balance;
	padding-left: var(--large-space);
	padding-top: 150px;

	@include breakpoint(lg, max) {
		padding-left: 0;
		text-align: center;
		padding-top: 0;
	}

	@include breakpoint(sm, max) {
		padding-left: var(--small-space);
		text-align: left;
		width: 80%;
	}
}

.home__section--left-paragraph {
	padding-bottom: var(--large-space);
	@include breakpoint(lg, max) {
		padding-bottom: var(--small-space);
		text-align: center;
	}
}

.home__section--left-paragraph p {
	// font-family: "clash display";
	// font-weight: 300;
	font-family: "tenon", sans-serif;
	font-weight: 200;
	font-style: normal;
	color: $color-white;
	font-size: clamp(22px, calc(22px + (30 - 22) * ((100vw - 320px) / (1480 - 320))), 30px);
	text-align: left;
	padding-left: var(--large-space);
	padding-bottom: var(--small-space);
	padding-top: var(--large-space);

	@include breakpoint(lg, max) {
		padding-left: var(--large-space);
		padding-right: var(--large-space);
		text-align: center;
		text-wrap: balance;
	}

	@include breakpoint(sm, max) {
		padding-left: var(--small-space);
		text-align: left;
	}
}

.home__section--right {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60%;
	height: 100%;

	@include breakpoint(lg, max) {
		width: 100%;
	}
}

.home__section--right-image {
	height: auto;
	max-width: 529px;

	@include breakpoint(lg, max) {
		padding-left: var(--small-space);
		padding-right: var(--small-space);
	}
}

.home__section--right img {
	height: 100%;
	width: 100%;
	opacity: 0;

	@include breakpoint(lg, max) {
		opacity: 1;
	}
}
