.painting {
	//height: 100%;
	width: 100%;
	@include column-center;
	height: 100%;
	justify-content: space-between;
}
.painting__wrapper {
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

	& h3 {
		display: none;
	}

	& p {
		display: none;
	}
}
.painting__title {
	@include title-h1;

	@include breakpoint(lg, max) {
		padding-top: var(--large-space);
		padding-bottom: var(--large-space);
	}
}

// .painting__grid {
// 	//min-height: auto;
// 	position: relative;
// 	display: grid;
// 	grid-template-columns: repeat(4, 1fr);
// 	grid-auto-rows: auto;
// 	gap: var(--small-space) var(--small-space);
// 	padding-bottom: var(--small-space);

// 	@include breakpoint(lg, max) {
// 		gap: 10px 10px;
// 		padding-bottom: 10px;
// 	}
// }

.painting__grid,
.painting__grid__large,
.painting__grid__large__paysage,
.painting__grid__large__portrait,
.painting__grid__xlarge__portrait {
	//min-height: auto;
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	//gap: 10px; /* Espace entre les images */
	gap: var(--extra-space) var(--extra-space);
	padding-bottom: var(--small-space);
	margin-left: var(--large-space);
	margin-right: var(--large-space);
	//background-color: green;

	@include breakpoint(lg, max) {
		gap: 10px 10px;
		padding-bottom: 10px;
	}
}

.painting__grid__xlarge__portrait {
	padding-bottom: var(--large-space);
}

.painting__grid__item {
	position: relative;
	will-change: transform;
	grid-column: var(--c);
	grid-row: var(--r);
	//aspect-ratio: 1 / 1;

	@include breakpoint(lg, max) {
		//padding: 0 var(--small-space) var(--large-space) var(--small-space);
	}
}

.painting__grid__item--image {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}
