@font-face {
	font-family: "Clash Display";
	src: url("/app/assets/fonts/ClashDisplay-Bold.woff2") format("woff2"), url("/app/assets/fonts/ClashDisplay-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Clash Display";
	src: url("/app/assets/fonts/ClashDisplay-Light.woff2") format("woff2"), url("/app/assets/fonts/ClashDisplay-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Clash Display";
	src: url("/app/assets/fonts/ClashDisplay-Medium.woff2") format("woff2"), url("/app/assets/fonts/ClashDisplay-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane";
	src: url("/app/assets/fonts/Humane-Bold.woff2") format("woff2"), url("/app/assets/fonts/Humane-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane";
	src: url("/app/assets/fonts/Humane-Light.woff2") format("woff2"), url("/app/assets/fonts/Humane-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
