@font-face {
	font-family: "Clash Display";
	src: url("/app/assets/fonts/ClashDisplay-Extralight.woff2") format("woff2"), url("/app/assets/fonts/ClashDisplay-Extralight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Clash Display";
	src: url("/app/assets/fonts/ClashDisplay-Bold.woff2") format("woff2"), url("/app/assets/fonts/ClashDisplay-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Clash Display Variable";
	src: url("/app/assets/fonts/ClashDisplayVariable-Bold.woff2") format("woff2"), url("/app/assets/fonts/ClashDisplayVariable-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Clash Display";
	src: url("/app/assets/fonts/ClashDisplay-Light.woff2") format("woff2"), url("/app/assets/fonts/ClashDisplay-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Clash Display";
	src: url("/app/assets/fonts/ClashDisplay-Regular.woff2") format("woff2"), url("/app/assets/fonts/ClashDisplay-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Clash Display";
	src: url("/app/assets/fonts/ClashDisplay-Semibold.woff2") format("woff2"), url("/app/assets/fonts/ClashDisplay-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Clash Display";
	src: url("/app/assets/fonts/ClashDisplay-Medium.woff2") format("woff2"), url("/app/assets/fonts/ClashDisplay-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Clash Display Variable";
	src: url("/app/assets/fonts/ClashDisplayVariable-Bold.woff2") format("woff2"), url("/app/assets/fonts/ClashDisplayVariable-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

// Humane fonts

@font-face {
	font-family: "Humane";
	src: url("/app/assets/fonts/Humane-Black.woff2") format("woff2"), url("/app/assets/fonts/Humane-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane";
	src: url("/app/assets/fonts/Humane-Black.woff2") format("woff2"), url("/app/assets/fonts/Humane-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane ExtBd";
	src: url("/app/assets/fonts/Humane-ExtraBold.woff2") format("woff2"), url("/app/assets/fonts/Humane-ExtraBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane SemBd";
	src: url("/app/assets/fonts/Humane-SemiBold.woff2") format("woff2"), url("/app/assets/fonts/Humane-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane";
	src: url("/app/assets/fonts/Humane-Bold.woff2") format("woff2"), url("/app/assets/fonts/Humane-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane";
	src: url("/app/assets/fonts/Humane-Bold.woff2") format("woff2"), url("/app/assets/fonts/Humane-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane ExtBd";
	src: url("/app/assets/fonts/Humane-ExtraBold.woff2") format("woff2"), url("/app/assets/fonts/Humane-ExtraBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane SemBd";
	src: url("/app/assets/fonts/Humane-SemiBold.woff2") format("woff2"), url("/app/assets/fonts/Humane-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane Med";
	src: url("/app/assets/fonts/Humane-Medium.woff2") format("woff2"), url("/app/assets/fonts/Humane-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane";
	src: url("/app/assets/fonts/Humane-Light.woff2") format("woff2"), url("/app/assets/fonts/Humane-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane ExtLt";
	src: url("/app/assets/fonts/Humane-ExtraLight.woff2") format("woff2"), url("/app/assets/fonts/Humane-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane ExtLt";
	src: url("/app/assets/fonts/Humane-ExtraLight.woff2") format("woff2"), url("/app/assets/fonts/Humane-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane";
	src: url("/app/assets/fonts/Humane-Light.woff2") format("woff2"), url("/app/assets/fonts/Humane-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane";
	src: url("/app/assets/fonts/Humane-Thin.woff2") format("woff2"), url("/app/assets/fonts/Humane-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane Med";
	src: url("/app/assets/fonts/Humane-Medium.woff2") format("woff2"), url("/app/assets/fonts/Humane-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane";
	src: url("/app/assets/fonts/Humane-Thin.woff2") format("woff2"), url("/app/assets/fonts/Humane-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane";
	src: url("/app/assets/fonts/Humane-Regular.woff2") format("woff2"), url("/app/assets/fonts/Humane-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Humane";
	src: url("/app/assets/fonts/Humane-Regular.woff2") format("woff2"), url("/app/assets/fonts/Humane-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
