extends ../layouts/layout.pug

block variables
  - var template = "404"


block content
  .not-found
    .notFound__wrapper
      .not-found__title 
        h1=notFoundError.data.title 
      .not-found__text  
        p=notFoundError.data.paragraph
        p=notFoundError.data.text_game
              
  include ../partials/footer.pug