extends /layouts/layout.pug

block variables
  - var template = "notFound"

block content
  .not_found
    .not-found__wrapper
      .not__found__section
        .not-found__title
          h1= notFoundError.data.title
        .not-found__text
          p= notFoundError.data.paragraph
          p= notFoundError.data.text_game

  include ../partials/footer.pug
