extends ../layouts/layout.pug

block variables
  - var template = "work"


block content
  .work   
    .work__wrapper
      .work__links  
        each item in work.data.work_group 
          a.spa.work__link(href=`/${item.work_link}`)=item.work_link
      .work__skills
        each item, index in work.data.work_skills
          .work__skill
            p.work__skill--children.button--large=item.work_skill 

  include ../partials/footer.pug