extends ../layouts/layout.pug

block content
  .work   
    include ../partials/navigation
    .work__wrapper
      .work__links  
        each item in work.data.work_group 
          a.work__link(href=`/${item.work_link}`)=item.work_link
      .work__skills
        each item, index in work.data.work_skills
          if index === 0
            p.work__skill--parent=item.work_skill
          else  
            p.work__skill--children=item.work_skill 

  include ../partials/footer.pug